[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"

[dev-packages]
bump2version = "==1.0.1"
freezegun = "==1.1.0"
grip = "==4.5.2"
kbtogglr = {editable = true, path = "."}
pyaud = "==3.10.0"
pytest-randomly = "==3.11.0"
pytest-sugar = "==0.9.4"
restview = "==3.0.0"
toml-sort = "==0.20.0"
twine = "==3.7.1"

[requires]
python_version = "3.8"
