[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
object-colors = "==2.0.1"

[dev-packages]
bump2version = "==1.0.1"
freezegun = "==0.1.11"
grip = "==4.5.2"
kbtogglr = {editable = true, path = "."}
pyaud = "==3.2.7"
pytest-randomly = "==3.5.0"
pytest-sugar = "==0.9.4"
restview = "==2.9.2"
twine = "==3.4.2"

[requires]
python_version = "3.8"
