[Desktop Entry]
Name=KBTogglr
Icon=org.gnome.Characters
Comment=Keyboard toggler
Exec=kbtogglr
Version=1.0
Type=Application
Categories=Settings
Terminal=false
