[Desktop Entry]
Name=KBTogglr
Comment=Toggle keyboard on and off
Keywords=keyboard;toggle;xinput;device;input;enable;disable
Terminal=false
Type=Application
Categories=Gnome;System;
